# Logs
logs
*.log

# Dependency directory
# https://www.npmjs.org/doc/misc/npm-faq.html#should-i-check-my-node_modules-folder-into-git
node_modules
npm-debug.log

# bower
bower_components

# sass temp
.sass-cache

# mac files
.DS_Store

# vagrant
.vagrant

# wordpress
www/*
!www/.gitkeep

# composer
vendor/*
composer.lock

# PhpStorm
.idea

# build folder
dist

tournaments.json
